---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LinkBlock from '../components/LinkBlock.astro';
import ClientRouter from 'astro/components/ClientRouter.astro';
---

<Layout>
  <Card>
    <h1>Engagement-Wegweiser</h1>

    <p>Willkommen beim <b>Engagement-Wegweiser!</b></p>
    <p>
      Dieser Wegweiser soll dir helfen, Hochschulgruppen und Gremien zu finden, die dich interessieren könnten.
      Auf der <a href="https://stuve.uni-konstanz.de" target="_blank">StuVe-Website</a> kannst du weitere Informationen über die <a href="https://stuve.uni-konstanz.de/angebote-projekte/angebote/hochschulgruppen/" target="_blank">Hochschulgruppen</a>
      und die <a href="https://stuve.uni-konstanz.de/uber-uns/" target="_blank">StuVe</a> ansich finden.
    </p>
    <p>
      Ansonsten viel Spaß beim Durchklicken!
    </p>

    <LinkBlock href="/app">
      Los geht's!
    </LinkBlock>
  </Card>
</Layout>

<ClientRouter />