---
import PathNavigation from "./PathNavigation.astro";

const { question, answers } = Astro.props;
---

<PathNavigation />

<h3>{question}</h3>
<div id="options">
    {answers.map((answer: string) => (
        <a href="">
            {answer}
        </a>
    ))}
</div>