---
// TODO
---

<div class="path">
    <!-- TODO -->
</div>

<style>
    .path {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: baseline;
		gap: 0 0.8rem;

		border-bottom: var(--seperator);

		margin-bottom: 1rem;
	}

	.path > a {
		margin: 0;
		padding: 4px 8px;
	}
</style>